[IMAGE_SLICER]
source_path = ../ortofoto
destination_path_without_param = ../sliced_raw
size = 640

[NORMALIZATION]
source_path_raw = ../sliced_raw_640
source_path_edge = ../normalized_640

[CANNY_EDGE_DETECTION]
source_path = ../sliced_raw_640
destination_path_without_param = ../canny_edges1_640
low_threshold = 0
high_threshold = 255

[IMAGE_HISTOGRAM]
source_path = ../sliced_raw_640
destination_path_without_param = ../histograms_640

[NOISE_REMOVER]
source_path = ../canny_edges1_640_0_255
destination_path_without_param = ../denoised1_640
dilate_iterations = 4
erode_iterations = 10

[COMBINE_RAW_WITH_EDGES]
source_path_raw = ../sliced_raw_640
source_path_edge = ../denoised1_640_4_10
destination_path_without_param = ../combined1_640

[COPY_FILTERED_TO_SERIALIZE]
source_path_raw = ../serialize_raw_640
source_path_denoised = ../denoised1_640_4_10
source_path_combined = ../combined1_640
destination_path_denoised = ../serialize_denoised1_640
destination_path_combined = ../serialize_combined1_640